* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

nav, ul, li, a {
    text-decoration: none;
    list-style: none;

}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    background-color: grey;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding: 20px 50px;
    align-items: center;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
}

.list-nav a{
    color: white;
}

.menu-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.list-nav a:hover {
    color: black;
    transition: 0.3s ease-in-out;
}

span:hover {
    color: black;
    transition: 0.3s ease-in-out
}

